
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    border-radius: 8px;
    background-color: rgb(235, 229, 229);
}

.blue{
    height: 25px;
    width: 100%;
    background: rgb(68, 68, 116);
}
.white{
        display: flex;
        align-items: center;
        position: relative;
        
    background-color: rgb(235, 229, 229);
      
}
#fin{
  position: absolute;
  top: 0%;
  right: 85%;
  font-weight: 600;
  margin-top: 3px;

}
.rowOne {
    margin: 3px;
    display: flex; 
  }

 .rowTwo {
    display: flex; 
    margin: 3px ;
  }
  
  .column {
    flex: 1; 

  }
  #bg{
    background-color: #fff;
    margin: 1px;
  }

.text{
align-items: center;
justify-content: center;
display: flex;
border-radius: 2px;
}
.stats {
    text-align: center;
}
.stats p{
    font-size: 25px;
    font-weight: bold;
}
#stat1{
    color:rgb(26, 26, 80);
}
#stat2{
    color:rgb(243, 41, 41);
}
#stat3{
    color:rgb(61, 99, 61);
}
#stat4{
    color:rgb(26, 26, 80);
}
  .grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr; 
    gap: 5px; 
  }
  .grid-item {
    background-color: #fff;
    width: 10rem;
    height: 10rem;
  }
  
  